{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion":8
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "no-unused-vars": "warn",
    "comma-dangle":"off"
  }
}
