{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion":8
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "camelcase": "warn",
    "comma-dangle": "off",
    "jsx-quotes": "warn",
    "max-classes-per-file": ["warn", 1],
    "max-len": ["warn", { "code": 80 }],
    "max-lines": ["error", 300],
    "no-console": "off",
    "no-unused-vars": "warn",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "require-await": "error"
  }
}
